@import "../../theme/theme";

.Highlights {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 2rem;
  row-gap: 3rem;
  p {
    font-size: 1rem;
    margin-top: .5rem;
  }
  .Item {
    padding: 1.5rem 2rem 1rem 2rem;
    display: block;
    border-top: 2px solid $secondary-light;
    box-shadow: 0 2px 4px 0 $on-primary-light;
    h2 {
      font-size: 1.5rem;
      margin-block-start: 0.83em;
      margin-block-end: 0.83em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      letter-spacing: -.016em;
      line-height: 1.25;
      font-weight: 700;
      cursor: default;
    }
  }
}

@media (max-width: 768px) {
  .Highlights {
    grid-template-columns: repeat(1,1fr);
    column-gap: 2rem;
    row-gap: 3rem;
  }
}
