// theme/_colors.scss

$primary: #FFFFFF;
$primary-light: #ffffff;
$primary-dark: #cccccc;

$secondary: #2a3747;
$secondary-light: #565656;
$secondary-dark: #011120;

$on-primary: #000;
$on-primary-light: #c0bfc0;
$on-secondary: #fff;

$highlight: #000;
