// components/Header/Header.scss

@import "../../theme/theme";

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1125px;
  margin: 3rem auto 5rem;
  .Logo {
    font-weight: 600;
    user-select: none;
  }
}
